# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.png

# Virtual Environment
venv/
env/
ENV/
wandb/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data and Models
data/*
!data/.gitkeep
models/saved/*
!models/saved/.gitkeep
*.npy
*.csv
*.cbm
*.pth

# Logs
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# 환경 설정
.env
.env.*

# 로그 및 데이터
data/raw/
data/processed/
models/saved/

# macOS
.DS_Store
.AppleDouble
.LSOverride 