# 기본 데이터 처리
pandas>=2.2.0
numpy>=1.26.0

# 추천 시스템
implicit>=0.7.0
scipy>=1.15.0

# 데이터베이스
mysql-connector-python>=9.2.0
PyMySQL>=1.1.0
SQLAlchemy>=2.0.0

# 유틸리티
python-dotenv>=1.0.0
python-json-logger>=3.3.0
colorlog>=4.7.0 